.form-triangular-placeholder {
    max-width: 150px;
}

.form-triangular-placeholder svg {
    max-width: 100%;
    height: auto;
}

.form-triangular-actions {
    margin: 10px 0 0 0;
    display: flex;
    gap: 10px;
}
